x-git-show > div
  height 700px

x-git-show .reveal pre
  box-shadow 0 0 0 white
  padding 1em

x-git-show .reveal .body
  text-align center

x-git-show .reveal .details
  text-align center
  margin-top 4em
  opacity 0.6

x-git-show .reveal .smaller
  font-size .5em
